---
layout: default
---
<article {% if page.feature-img or page.feature-img-sm or page.feature-img-md or page.feature-img-lg or page.feature-img-xl %}class="feature-image"{% endif %}>
  <header class="responsive-img">
    <h1 class="title">{{ page.title }}</h1>
    {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
    <p class="meta">
    {% assign m = page.date | date: "%-m" %}
          {{ page.date | date: "%-d" }}
            {% case m %}
              {% when '1' %}Gennaio
              {% when '2' %}Febbraio
              {% when '3' %}Marzo
              {% when '4' %}Aprile
              {% when '5' %}Maggio
              {% when '6' %}Giugno
              {% when '7' %}Luglio
              {% when '8' %}Agosto
              {% when '9' %}Settembre
              {% when '10' %}Ottobre
              {% when '11' %}Novembre
              {% when '12' %}Dicembre
              {% endcase %}
          {{ page.date | date: "%Y" }}
    {% if page.author %} - {{ page.author }}{% endif %}
    </p>
  </header>
  <section class="post-content">{{ content }}</section>
  {% include tags_list.html tags=page.tags tag_count=page.tags.size %}
</article>

<!-- Disqus -->
{% if site.theme_settings.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}

<!-- Post navigation -->
{% if site.theme_settings.post_navigation %}
  {% include post_nav.html %}
{% endif %}
